<?xml version=”1.0" encoding=”utf-8"?>
<configuration>
 <system.webServer>
 <customHeaders>
 <add name=”Strict-Transport-Security” value=”max-age=31536000; includeSubDomains”/>
 <add name=”Access-Control-Allow-Origin” value=”*” />
 <add name=”Access-Control-Allow-Headers” value=”X-Requested-With,Content-Type” />
 <add name=”Access-Control-Allow-Methods” value=”POST,GET,OPTIONS,DELETE,PUT,PATCH” />
 </customHeaders>
 </httpProtocol>
 <rewrite>
 <rules>
 <rule name="Redirect to www" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTP_HOST}" pattern="desbloqueatucel.com" />
</conditions>
<action type="Redirect" url="https://www.desbloqueatucel.com/{R:0}" />
 </rules>
 </rewrite>
 </system.webServer>
</configuration>