<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
 <rewrite>
 <rules>
 <rule name="Redirect to www" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTP_HOST}" pattern="desbloqueatucel.com" />
</conditions>
<action type="Redirect" url="https://www.desbloqueatucel.com/{R:0}" />
 </rules>
 </rewrite>
 </system.webServer>
</configuration>